/* Application wide styles */


.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.main-panel {
    -fx-padding: 10 10 10 10;
}



.button:hover{
    -fx-base: #395bae;
}


